bandit==1.7.0
build>=0.7.0
black==21.9b0
coverage==6.0.2
fixtures==3.0.0
flake8==4.0.1
flake8-bugbear==21.9.2
flake8-docstrings==1.6.0
ipython==7.28.0
isort==5.9.3
pdbpp==0.10.3
stestr==3.2.1
testscenarios==0.5.0
testresources==2.0.1
testtools==2.5.0
twine>=3.4.2
